$deep: #0a3752;
$black: #0c0f13;
$dark: #061a25;
$light: #daeef0;
$white: #f0f0f0;
$cyan: #0e88a7;

body {
  background-color: $black;
  color: $white;
}

::selection {
  background: $cyan;
  color: $white;
}

a,
p a {
  color: $light;
  &:hover {
    color: $cyan;
  }
}
