/* Variables */
$black: #0c0f13;
$deep: #0a2c52;
$dark: #041330;
$light: #daeef0;
$white: #f0f0f0;
$cyan: #0e88a7;

/* Elements */
body {
  background-color: $black;
  color: $white;
}

::selection {
  background: $cyan;
  color: $white;
}

a,
p a {
  color: $light;
  &:hover {
    color: $cyan;
  }
}
