footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  right: 0;
  @include MQ(M) {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
  }
  p {
    text-align: center;
    @include font-size(0.9rem);
  }
  nav {
    @include MQ(M) {
      display: flex;
      justify-content: flex-end;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        @include font-size(0.9rem);
        font-weight: 300;
        display: inline-flex;
        justify-content: flex-start;
        padding: 0 0 0 2rem;
        a {
          display: block;
          color: $white;
          text-decoration: none;
          &:hover {
            color: $cyan;
          }
        }
        @include MQ(maxM) {
          justify-content: center;
          width: 50%;
          background-color: $white;
          padding: 1.5rem 0;
          a {
            width: 100%;
            color: $dark;
            text-align: center;
          }
          &:nth-child(2) {
            a {
              border-left: 1px solid $dark;
            }
          }
        }
      }
    }
  }
}
